APP_PORT=8080

# LINE OA Messaging API
LINE_CHANNEL_SECRET=xxxxxxxxxxxxxxxx
LINE_CHANNEL_ACCESS_TOKEN=xxxxxxxxxxxxxxxx

# optional: สำหรับยิง push แจ้งแอดมิน (userId/groupId)
LINE_ADMIN_TO=Uxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
